  html{}
  * {
  box-sizing: border-box;
  
}
body{
	font-family: Comic Sans MS, sans serif;


}
h1{
	text-align: center;

}
  .row {
  width: 100%;
}
div.col-lg{
	background-color:hsl(0, 0%, 60%);
	padding: 30px 10px 10px 10px;
	border: 1px solid black;
	position: relative;
	margin: 1%;

}
.title-chicken{
	background-color: hsl(330, 48%, 78%);
	position: absolute;
	right: 0px;
	top: 0px;
	width: 120px;
	text-align: center;
	padding: 5px 25px 5px 25px;
	border: 1px solid black;
	color: black;
	font-size: 125%;
}
.title-beef{
	background-color: hsl(0, 50%, 50%);
	position: absolute;
	right: 0px;
	top: 0px;
	width: 120px;
	text-align: center;
	padding: 5px 25px 5px 25px;
	border: 1px solid black;
	color: white;
	font-size: 125%;

}
.title-sushi{
	background-color: hsl(60, 70%, 50%);
	position: absolute;
	right: 0px;
	top: 0px;
	width: 120px;
	text-align: center;
	padding: 5px 25px 5px 25px;
	border: 1px solid black;
	color: black;
	font-size: 125%;
}
/* Destop view */
@media (min-width: 992px) {
  .col-lg{
    float: left;
    width: 31%;
}
}
/* Tablet view */
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2{
    float: left;

   }
 
  .col-md-1 {
    width: 48%;

  }
  .col-md-2 {
    width: 98%;
  }

}